<main class="p-6">
  <section class="flex flex-col gap-2">
    <app-popup
      [isOpen]="isAddOpen"
      [heading]="'Add Drug'"
      [description]="'Create a new product'"
      [variant]="'right'"
      [panelWidth]="'w-[44rem]'"
      [primaryAction]="addDrugPrimaryAction"
      [secondaryAction]="addDrugSecondaryAction"
      (close)="closeAdd()"
    >
      <form
        [formGroup]="addDrugForm"
        (ngSubmit)="onSubmitAddDrug()"
        class="flex flex-col gap-4"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <app-input
            [label]="'Name'"
            [placeholder]="'Paracetamol'"
            [control]="addDrugForm.controls.name"
            [id]="'drug-name'"
            [required]="true"
            variant="select"
          />
          <app-input
            [label]="'Shelve'"
            [placeholder]="'AMA'"
            [control]="addDrugForm.controls.shelve"
            [id]="'drug-shelve'"
            variant="select"
          />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label class="block text-primary text-base mb-1">Drug Class</label>
            <app-select
              [options]="drugClassOptions"
              [selectedValue]="selectedDrugClass"
              placeholder="Select class"
              (selectionChange)="onDrugClassChange($event)"
            />
          </div>
          <div>
            <label class="block text-primary text-base mb-1">Dosage Form</label>
            <app-select
              [options]="dosageFormOptions"
              [selectedValue]="selectedDosageForm"
              placeholder="Select dosage form"
              (selectionChange)="onDosageFormChange($event)"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <app-input
            [label]="'Quantity'"
            type="number"
            [placeholder]="'56'"
            [control]="addDrugForm.controls.quantity"
            [id]="'drug-quantity'"
            variant="select"
          />
          <app-input
            [label]="'Strength'"
            type="number"
            [placeholder]="'500'"
            [control]="addDrugForm.controls.strength"
            [id]="'drug-strength'"
            variant="select"
          />
          <div>
            <label class="block text-primary text-base mb-1">Unit</label>
            <app-select
              [options]="unitOptions"
              [selectedValue]="selectedUnit"
              placeholder="Select unit"
              (selectionChange)="onUnitChange($event)"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <app-input
            [label]="'Created By'"
            [placeholder]="'Pharmacist K. Mensah'"
            [control]="addDrugForm.controls.createdBy"
            [id]="'drug-created-by'"
            variant="select"
          />
          <app-input
            [label]="'Expiry Date'"
            type="date"
            [control]="addDrugForm.controls.expiryDate"
            [id]="'drug-expiry'"
            variant="select"
          />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <app-input
            [label]="'Brand'"
            [placeholder]="'GSK'"
            [control]="addDrugForm.controls.brand"
            [id]="'drug-brand'"
            variant="select"
          />
          <app-input
            [label]="'Stock Threshold'"
            type="number"
            [placeholder]="'6'"
            [control]="addDrugForm.controls.stockThreshold"
            [id]="'drug-stock-threshold'"
            variant="select"
          />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <app-input
            [label]="'Cost Price'"
            type="number"
            [placeholder]="'562'"
            [control]="addDrugForm.controls.costPrice"
            [id]="'drug-cost-price'"
            variant="select"
          />
          <app-input
            [label]="'Selling Price'"
            type="number"
            [placeholder]="'67'"
            [control]="addDrugForm.controls.sellingPrice"
            [id]="'drug-selling-price'"
            variant="select"
          />
          <app-input
            [label]="'Discount Value (%)'"
            type="number"
            [placeholder]="'20'"
            [control]="addDrugForm.controls.discountValue"
            [id]="'drug-discount'"
            variant="select"
          />
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <app-input
            [label]="'Supplier Name'"
            [placeholder]="'usdi'"
            [control]="addDrugForm.controls.supplierName"
            [id]="'drug-supplier-name'"
            variant="select"
          />
          <app-input
            [label]="'Supplier Contact'"
            [placeholder]="'23359588326'"
            [control]="addDrugForm.controls.supplierContact"
            [id]="'drug-supplier-contact'"
            variant="select"
          />
        </div>
      </form>
    </app-popup>
    <div class="flex items-center justify-between mb-3">
      <div>
        <p class="text-2xl font-semibold text-gray-800">Products</p>
        <p class="text-sm font-light text-gray-600">
          Manage and view all products in your inventory
        </p>
      </div>
      <button
        (click)="onAddProduct()"
        class="flex items-center text-sm font-light gap-2 px-4 py-2 bg-green-800 text-white rounded-xl hover:bg-green-700 transition-all duration-300 ease-out transform hover:scale-105 cursor-pointer"
      >
        Add New
        <lucide-icon [img]="icons.Plus" [size]="16" strokeWidth="3" />
      </button>
    </div>

    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center gap-4">
        <div class="w-80">
          <app-input
            [placeholder]="'Search by name, ID, or category...'"
            [hasLeftIcon]="true"
            size="sm"
            [control]="searchControl"
            [id]="'product-search'"
          >
            <lucide-icon [img]="icons.Search" [size]="16" slot="left-icon" />
          </app-input>
        </div>
      </div>
      <div class="flex items-center gap-3">
        @if (hasActiveFilters) {
        <button
          (click)="clearAllFilters()"
          class="flex items-center gap-2 px-4 py-2 text-sm font-light text-gray-700 bg-white border border-gray-300 rounded-xl hover:bg-gray-50 hover:border-gray-400 transition-all duration-200"
        >
          <lucide-icon [img]="icons.XCircle" [size]="16" />
          Clear Filters
        </button>
        <div class="h-6 w-px bg-gray-300"></div>
        }

        <app-export-select
          [actions]="exportOptions"
          class="w-32"
          [placeholder]="'Export'"
          size="sm"
          [icon]="icons.Download"
          (actionSelected)="onExportTypeChange($event)"
        />
      </div>
    </div>

    <div class="overflow-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-green-700 sticky top-0 z-10">
          <tr class="text-white">
            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              #
            </th>
            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              <div class="flex items-center gap-2">
                <span>Product Name</span>
                <app-table-header-dropdown
                  [options]="nameSortOptions"
                  [clearLabel]="'Clear Sort'"
                  [queryParamKey]="'nameSort'"
                />
              </div>
            </th>
            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              <div class="flex items-center gap-2">
                <span>Category</span>
                <app-table-header-dropdown
                  [options]="categoryOptions"
                  [clearLabel]="'Clear Filter'"
                  [queryParamKey]="'category'"
                />
              </div>
            </th>
            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              Stock
            </th>
            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              Quantity
            </th>
            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              <div class="flex items-center gap-2">
                <span>Expiry Date</span>
                <app-table-header-dropdown
                  [options]="expiryDateSortOptions"
                  [clearLabel]="'Clear Sort'"
                  [queryParamKey]="'expiryDateSort'"
                />
              </div>
            </th>
            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              <div class="flex items-center gap-2">
                <span>Inputted By</span>
                <app-table-header-dropdown
                  [options]="inputtedBySortOptions"
                  [clearLabel]="'Clear Sort'"
                  [queryParamKey]="'inputtedBySort'"
                />
              </div>
            </th>
            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              <div class="flex items-center gap-2">
                <span>Facility</span>
                <app-table-header-dropdown
                  [options]="facilityOptions"
                  [enableSearch]="true"
                  [clearLabel]="'Clear Filter'"
                  [queryParamKey]="'facility'"
                  [dropdownWidth]="'min-w-[150px]'"
                />
              </div>
            </th>

            <th
              class="px-6 py-2 text-left text-xs font-medium uppercase tracking-wider"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          @for (product of filteredProducts; track product.id; let i = $index) {
          <tr class="hover:bg-gray-50">
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
            >
              {{ i + 1 }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
            >
              {{ product.name }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
            >
              {{ product.category }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
            >
              {{ product.stock }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
            >
              {{ product.quantity }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
            >
              {{ product.expiryDate }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
            >
              {{ product.inputtedBy }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-light text-gray-900"
            >
              {{ getFacilityLabel(product.facility) }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm">
              <app-action-menu
                [items]="getMenuItems(product)"
                [rowIndex]="i"
                [totalItems]="filteredProducts.length"
              />
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
</main>
