<nav class="w-54 h-full text-white flex flex-col gap-4">
  <div class="bg-green-800 h-full w-full py-6 px-4 flex flex-col">
    <h3 class="font-bold text-center pt-6 text-white">Logo</h3>
    <div class="flex flex-col gap-3 mt-6 flex-1">
      @for (item of navigationItems; track item.route) {
      <a [routerLink]="item.route" [class]="
          isActiveRoute(item.route)
            ? 'flex items-center gap-3 w-full py-3 px-4 rounded-lg bg-tertiary text-white transform scale-105 transition-all duration-200'
            : 'flex items-center gap-3 w-full py-3 px-4 rounded-xl bg-transparent text-white/70 hover:bg-tertiary hover:text-white transition-all duration-200'
        ">
        <lucide-icon [img]="item.icon" [size]="20" />
        <span class="font-light">{{ item.label }}</span>
      </a>
      }
    </div>
    <div class="mt-auto pt-4">
      <button (click)="logout()"
        class="flex items-center justify-center gap-3 w-full py-3 px-4 rounded-lg bg-tertiary text-white hover:bg-secondary transition-all duration-200 transform hover:scale-105">
        <lucide-icon [img]="icons.LogOut" [size]="20" />
        <span class="font-medium">Logout</span>
      </button>
    </div>
  </div>
</nav>