<header
  class="bg-green-100 border-gray-200 h-16 flex items-center justify-between px-6"
>
  <div class="flex items-center gap-6">
    <p class="font-light text-gray-800">Pharmacy Name</p>
  </div>

  <div class="flex items-center gap-4">
    <app-notifications></app-notifications>

    <div class="h-6 w-px bg-gray-300"></div>

    <button
      class="p-2 hover:bg-green-200 rounded-lg transition-colors duration-200"
    >
      <img src="/images/settings.svg" alt="settings" width="20px" />
    </button>
  </div>
</header>
